@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
header.scrolled {
  background-image: linear-gradient(181deg, #00000073, #000408a3);
  backdrop-filter: blur(10px);
}
header.scrolled .header-nav {
  @apply md:pt-5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-image {
  @apply relative bg-cover;
  background-image: url("../../assets/images/hero-bg.png");
}
.bg-image:before {
  @apply bg-gradient-to-b from-blues-100 via-transparent to-black-100 absolute inset-0 h-full w-full content-[''];
}

.gradient-text {
  background: linear-gradient(90deg, #0d70bc, #88e2e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trip-card {
  @apply relative;
}

.trip-card:before {
  @apply absolute lg:block hidden sm:-top-4 sm:-right-16 sm:h-full sm:w-full lg:-top-28 lg:-right-[11px] z-0  lg:h-4/5 lg:w-4/5 rounded-full bg-cover bg-center;

  background: radial-gradient(
    circle,
    #59b0e661,
    #3b6c8b4d,
    transparent,
    transparent
  );
  backdrop-filter: blur(149px);
  content: "";
}

.movers:before {
  @apply absolute md:block hidden -right-20 lg:-right-24 bottom-9 w-20 h-40 md:right-6 md:w-12 md:h-32 xl:h-52 lg:w-32 top-auto bg-no-repeat bg-contain;
  background-image: url("../../assets/icons/decore.svg");
  content: "";
}

.footer {
  @apply relative;
}
.footer:before {
  @apply absolute bottom-0 right-0 h-96 w-96 top-auto z-10 bg-no-repeat;
  background-image: url("../../assets/images/decore.png");
  content: "";
}
.section-contact:before {
  @apply absolute bottom-0 right-0 h-96 w-96 top-auto z-10 bg-no-repeat;
  background-image: url("../../assets/images/decore.png");
  content: "";
}
.movers:after {
  @apply absolute md:block hidden top-0 lg:-right-11 xl:-right-20 left-auto h-28 w-28 bottom-auto z-10 bg-no-repeat bg-contain bg-bottom 2xl:-right-28;
  background-image: url("../../assets/images/star-top.png");
  content: "";
}

.horizontal .swiper-pagination {
  @apply absolute right-0 left-0 lg:left-0 bottom-2 flex justify-center lg:justify-start;
}

.horizontal .swiper-pagination-bullet {
  @apply bg-gray-300 w-3 h-3 opacity-100;
}

.horizontal .swiper-pagination-bullet-active {
  @apply bg-[#39425D]; /* Custom color for the active dot */
}

.contact-wrap:before {
  @apply absolute lg:block hidden -bottom-10 -right-7 xl:-right-10 left-auto h-28 w-28 top-auto bg-no-repeat bg-contain bg-bottom;
  background-image: url("../../assets/images/star-bottom.png");
  content: "";
}

@media (max-width: 600px) {
  .custom-swiper-pagination {
    @apply bottom-0;
  }
}

.swiper-button-prev {
  @apply top-1/2 -translate-y-1/2 rotate-90;
}

.swiper-button-next {
  @apply top-1/2 -translate-y-1/2 rotate-90 h-5;
}
.test-slider
  .swiper-backface-hidden
  .swiper-slide.swiper-slide-active
  > div.slider-card {
  @apply bg-white z-20;
  transform: translate(0px, 0px);
}
.test-slider .swiper-wrapper {
  @apply w-[83%] mr-auto ml-[28px];
}

.test-slider .swiper-backface-hidden .swiper-slide.swiper-slide-active {
  @apply z-[99];
}

.test-slider .swiper-backface-hidden .swiper-slide.swiper-slide-active > div {
  @apply pb-8;
}

.test-slider .swiper-backface-hidden .swiper-slide.swiper-slide-prev {
  visibility: hidden;
  padding-bottom: 29px;
}

.test-slider .swiper-button-prev {
  @apply absolute right-0 z-[99] top-[40%] left-auto bottom-auto;
}
.test-slider .swiper-button-prev.swiper-button-disabled,
.test-slider .swiper-button-next.swiper-button-disabled {
  color: #3e2e4d;
  z-index: 99;
}
.test-slider .swiper-button-prev:after,
.test-slider .swiper-button-next:after {
  color: #bcb7c2;
  font-size: 18px;
  padding: 20px;
}

.test-slider .swiper-button-next,
.test-slider .swiper-rtl .swiper-button-prev {
  @apply right-0;
}

@media screen and (min-width: 600px) {
  .test-slider .swiper-backface-hidden .swiper-slide.swiper-slide-next {
    @apply z-0 right-0;
    transform: translate(40px, -239px);
  }
}
